.add-prop-bg {
    background: #F9F9F9;
    min-height: 1250px;
}

.add-prop-area {
    position: relative;
    max-width: 1204px;
    height: 900px;
    left: 0px;
    top: 80px;
}

.add-prop-title {
    font-family: Montserrat;
    font-size: 36px;

    position: relative;
    left: 150px;
    top: 59px;

    display: flex;
    align-items: center;

    color: #000000;
}

.add-prop-bold-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;

    color: #000000;
}

.add-prop-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;

    color: #000000;
}