/*=======================================
            FILTER COMPONENTS
========================================*/
.filter-bold-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 33px;

    color: #000000;
}

.filter-regular-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;

    color: #000000;
}

.home-date-rect {
    min-width: 275px;
    min-height: 50px;

    background: rgba(196, 196, 196, 0.25);
    border-radius: 5px;
}

.home-date-calendar {
    position: relative;
    left: 15px;
}

.home-date-line {
    position: relative;
    left: 10px;
    width: 40px;
    height: 0px;
    
    border: 1px solid #D2D2D2;
    transform: rotate(90deg)
}

.home-budget-rect {
    position: relative;
    left: 10px;
    min-width: 200px;
    min-height: 50px;

    background: rgba(196, 196, 196, 0.25);
    border-radius: 5px;
}

.home-budget-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */
    text-align: left;

    color: #000000;

    border: none;
    outline: none;
}